{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand fw-bold fst-italic" href="/">{{santi.fullName}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <div id="flags" class="flags">
                        <div class="flags__item" data-language="es">
                            <img src="{% static './es.svg' %}" alt="">
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div id="flags" class="flags">
                        <div class="flags__item" data-language="en">
                            <img src="{% static './gb.svg' %}" alt="">
                        </div>
                    </div>
                </li>
                <li id="projects" class="nav-item">
                    <a class="nav-link" href="/">Projectos</a>
                </li>
                <li id="dowloadCV_nav" class="nav-item d-flex aling-items-center">
                    <a class="btn btn-primary" {% if santi.cv %} href="/media/{{ santi.cv }}" {% endif %}>Descargar
                        CV</a>
                </li>
            </ul>
        </div>
    </div>
</nav>