{% extends 'base.html' %}
{% load static %}

{% load i18n %}


{% block content %}

<a href="{% url 'index' %}" role="button" class="btn btn-primary">Volver al Portafolio</a>

<div class="row my-4">

    <h4 class="text-center"><i class="fas fa-tools fa-2x"></i> Todos mis Proyectos: </h4>

    {% for project in projects %}
    <div class="col-md-4 p-4">
        <div class="card bg-black card-project">
            <a href="{% url 'galeryimageslist' project.slug %}">
                <img src="{{project.image.url }}" class="card-img-top" />
            </a>
            <div class="card-body ">

                <h2>{{ project.title }}</h2>
                <p>{{ project.description }}</p>


                <ul>
                    {% if project.url %}
                    <li>
                        <a href="{{project.url}}" role="button" class="btn btn-primary btn-sm m-2" target="__blank"
                            rel="noreferrer">
                            <i class="fas fa-globe"></i>
                            Ir aProyecto
                        </a>
                    </li>
                    {% endif %}
                    {% if project.repo %}
                    <li>
                        <a href="{{project.repo}}" role="button" class="btn btn-info btn-sm m-2" target="__blank"
                            rel="noreferrer">
                            <i class="fab fa-github fa-lg"></i>
                            Ir al repositorio
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'galeryimageslist' project.slug %}" role="button"
                            class="btn btn-danger btn-sm m-2">
                            <i class="fas fa-arrow-right"></i>
                            Ver
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-footer text-center">
                {% for skill in project.skils.all %}
                <small class="text-muted">
                    <img src="{{skill.image}}" alt="{{skill.name}}">
                </small>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}