*{
  color: white;
}

body {
    /*background: #090909;*/
    background: rgb(0,3,54);
    background: linear-gradient(123deg, rgba(0,3,54,1) 45%, rgba(10,68,121,1) 86%);
  }

  nav{
    background: #000;
  }
  
  .bg-black {
    background: #000;
  }
  
  .card-project:hover {
    border: 3px solid #eee;
    cursor: pointer;
  }

  .card{
    background: #000;
  }

  .card:hover{
    border: 3px solid #eee;
    cursor: pointer;
  }

  .flags{
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .flags__item{
    width: 30px;
  }

  .flags__item {
    display: block;
    cursor: pointer;
  }