*{
  color: white;
}

body {
    /*background: #090909;*/
    background: rgb(0,3,54);
    background: linear-gradient(123deg, rgba(0,3,54,1) 45%, rgba(10,68,121,1) 86%);
  }
  
  .bg-black {
    background: #000;
  }
  
  .card-project:hover {
    border: 3px solid #eee;
    cursor: pointer;
  }

  .card{
    background: #000;
  }

  .card:hover{
    border: 3px solid #eee;
    cursor: pointer;
  }